@import "tailwindcss";

html,
body,
#__next {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
  touch-action: none;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-track,
.scrollbar-thin::-webkit-scrollbar-corner {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
